@media screen and (min-width: 1280px) {
    .root {
        max-width: 1080px;
    }

    .event_card {
        width: 1080px;
        height: 150px;
        border: 1px solid #8E8E8E;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .activity_icon {
        width: 100px;
        height: 100px;
        margin: 20px;
        margin-left: 50px;
    }

    .event_title {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .info_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .info_container p, .info_container_first_row p{
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 10px;
    }

    .info_container_first_row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
    }

    
    .front {
        margin-right: 50px;
    }

    .middle {
        width:50%;
    }

    .end {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;    
        height: 120px;
    }

    .share {
        flex-grow:1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right:5px;
    }

}