@import url("https://fonts.googleapis.com/css?family=Inter:regular,bold,italic&subset=latin,latin-ext");

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.title {
  font-size: 32px;
}

.create_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}