#landing-page {
  background-image: url(./assets/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing-header {
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eef1f3;
}

.all-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}